*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 2s;
  }
  body{
    text-align: left;
  }
  table{
    border: solid black;
    height: 300px;
    width: 50%;
  }
  td{
    
  }
  select{
    width: 100px;
  }
  #caja{
    position: relative;
    background: solid black;
    border: 1px solid black;
    width: 100px;
    height: 100px;
  }
  